// $primary-color: #444;
// $secondary-color: #eece1a;
$primary-color: #2b2d42; // Deep Indigo
$secondary-color: #f4c542; // Gold Accent
$accent-color: #48c6ef; // Turquoise (optional)
$background-color: #1f1f1f; // Charcoal dark mode
$text-color: #f5f5f5; // Warm white
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;
@mixin easeOut {
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: "";
        position: absolute; // we want to cover whole body
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}
